<html>
<body>
    <h3>Bankruptcy Prediction</h3>

<div>
  <form action="/predictBankruptcy" method="POST">
    <table>
        <tr>
            <td><label for="Attr1">Attr1</label></td>
            <td><input type="text" name="Attr1" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr2">Attr2</label></td>
            <td><input type="text" name="Attr2" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr3">Attr3</label></td>
            <td><input type="text" name="Attr3" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr4">Attr4</label></td>
            <td><input type="text" name="Attr4" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr5">Attr5</label></td>
            <td><input type="text" name="Attr5" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr6">Attr6</label></td>
            <td><input type="text" name="Attr6" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr7">Attr7</label></td>
            <td><input type="text" name="Attr7" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr8">Attr8</label></td>
            <td><input type="text" name="Attr8" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr9">Attr9</label></td>
            <td><input type="text" name="Attr9" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr10">Attr10</label></td>
            <td><input type="text" name="Attr10" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr11">Attr11</label></td>
            <td><input type="text" name="Attr11" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr12">Attr12</label></td>
            <td><input type="text" name="Attr12" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr13">Attr13</label></td>
            <td><input type="text" name="Attr13" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr14">Attr14</label></td>
            <td><input type="text" name="Attr14" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr15">Attr15</label></td>
            <td><input type="text" name="Attr15" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr16">Attr16</label></td>
            <td><input type="text" name="Attr16" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr17">Attr17</label></td>
            <td><input type="text" name="Attr17" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr18">Attr18</label></td>
            <td><input type="text" name="Attr18" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr19">Attr19</label></td>
            <td><input type="text" name="Attr19" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr20">Attr20</label></td>
            <td><input type="text" name="Attr20" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr21">Attr21</label></td>
            <td><input type="text" name="Attr21" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr22">Attr22</label></td>
            <td><input type="text" name="Attr22" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr23">Attr23</label></td>
            <td><input type="text" name="Attr23" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr24">Attr24</label></td>
            <td><input type="text" name="Attr24" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr25">Attr25</label></td>
            <td><input type="text" name="Attr25" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr26">Attr26</label></td>
            <td><input type="text" name="Attr26" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr27">Attr27</label></td>
            <td><input type="text" name="Attr27" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr28">Attr28</label></td>
            <td><input type="text" name="Attr28" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr29">Attr29</label></td>
            <td><input type="text" name="Attr29" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr30">Attr30</label></td>
            <td><input type="text" name="Attr30" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr31">Attr31</label></td>
            <td><input type="text" name="Attr31" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr32">Attr32</label></td>
            <td><input type="text" name="Attr32" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr33">Attr33</label></td>
            <td><input type="text" name="Attr33" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr34">Attr34</label></td>
            <td><input type="text" name="Attr34" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr35">Attr35</label></td>
            <td><input type="text" name="Attr35" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr36">Attr36</label></td>
            <td><input type="text" name="Attr36" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr37">Attr37</label></td>
            <td><input type="text" name="Attr37" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr38">Attr38</label></td>
            <td><input type="text" name="Attr38" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr39">Attr39</label></td>
            <td><input type="text" name="Attr39" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr40">Attr40</label></td>
            <td><input type="text" name="Attr40" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr41">Attr41</label></td>
            <td><input type="text" name="Attr41" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr42">Attr42</label></td>
            <td><input type="text" name="Attr42" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr43">Attr43</label></td>
            <td><input type="text" name="Attr43" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr44">Attr44</label></td>
            <td><input type="text" name="Attr44" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr45">Attr45</label></td>
            <td><input type="text" name="Attr45" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr46">Attr46</label></td>
            <td><input type="text" name="Attr46" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr47">Attr47</label></td>
            <td><input type="text" name="Attr47" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr48">Attr48</label></td>
            <td><input type="text" name="Attr48" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr49">Attr49</label></td>
            <td><input type="text" name="Attr49" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr50">Attr50</label></td>
            <td><input type="text" name="Attr50" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr51">Attr51</label></td>
            <td><input type="text" name="Attr51" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr52">Attr52</label></td>
            <td><input type="text" name="Attr52" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr53">Attr53</label></td>
            <td><input type="text" name="Attr53" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr54">Attr54</label></td>
            <td><input type="text" name="Attr54" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr55">Attr55</label></td>
            <td><input type="text" name="Attr55" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr56">Attr56</label></td>
            <td><input type="text" name="Attr56" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr57">Attr57</label></td>
            <td><input type="text" name="Attr57" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr58">Attr58</label></td>
            <td><input type="text" name="Attr58" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr59">Attr59</label></td>
            <td><input type="text" name="Attr59" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr60">Attr60</label></td>
            <td><input type="text" name="Attr60" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr61">Attr61</label></td>
            <td><input type="text" name="Attr61" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr62">Attr62</label></td>
            <td><input type="text" name="Attr62" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr63">Attr63</label></td>
            <td><input type="text" name="Attr63" rows="10" cols="30"></td>
        </tr>
        <tr>
            <td><label for="Attr64">Attr64</label></td>
            <td><input type="text" name="Attr64" rows="10" cols="30"></td>
        </tr>
    <tr><td colspan=2> <input type="submit" value="Submit"></td></tr>
    
    </table>
</table>
  </form>
</div>
</body>
</html>